# In this example timer, the uptime-check script is executed 10 minutes
# after booting and again every 10 minutes afterwards.

[Unit]
Description=monitoring uptime of remote server.

[Timer]
OnBootSec=10m
OnUnitActiveSec=10m
AccuracySec=1m

[Install]
WantedBy=timers.target
